html {
    scroll-behavior: smooth;
    transition-delay: 4s;
}    
body{
    font-family: "PT Sans", sans-serif;
    transition: 2s;
}
.light {
    color: #000000;
    background-color: #f4f4f4;
    height: 100%;
    width: 100%;    
}
.dark {
    background-color: rgb(71, 111, 112);
    color: #ffffff;
}
#Geeky{
    padding: 18% 10%;
}
#documentation {
    padding: 4% 10%;
}
#video{
    color: #333333;
    padding: 5% 10%;
}
#video2 {
    padding: 15% 10%;
}
#coupons {
    color: #333333;
    display: flex;
    padding: 3% 5%;
    padding-left: 10%;
}
#coupon-content {
    margin: 2%;
    padding-right: 5%;
    margin-left: 15%;    
}
#documentation > h1, #documentation > h2 , #video > h2, #video2 > h2{
    text-align: center;
    margin-bottom: 30px;
}
#Geeky > h1 {
    font-size: 64px;
    text-align: center;
    margin-bottom: 30px;
}
#Geeky > h4 {
    text-align: center;
    font-size: 32px;
}

hr {
    background-color: rgb(134, 128, 128);
}
#coupon-content > p {
    margin-top: 20px;
}

#coupon-content > a {
    color: #103063;
    text-decoration: none;
}
.para {
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
}

.btn-secondary {
    background-color: #103063;
}
.btn{
    display: inline-block;
    border-radius: 0px;
    padding: 1rem;
    margin: 10px;
    margin-bottom: 25px;
}
.btn-a {
    text-align: center;
}
.btn-secondary:hover {
    background-color: #143f85;
}
.note{
    font-size: 15px;
    text-align: center;
    margin: 20px 0px;
}
#documentation > img {
    margin-left: 12%;
    margin-bottom: -2%;
    border-radius: 10px;
    width: 80%;
    height: 80%;    
}
#video > img {
    margin-left: 7%;
    margin-bottom: -2%;
    border-radius: 5px;
    width: 90%;
    height: 80%;
}
#coupons > img {
    float: left;
    border-radius: 20%;
    width: 30%;
    height: 40%;
}

@media all and (max-width: 575px) {
    #Geeky > p {
        display: none;
    }
    #Geeky > h1 {
        padding-top: 20%;
    }
    #Geeky > h4 {
        text-align: center;
        font-size: 25px;
    }
}
.finfo {
    padding: 10px;
}
.finfo > p, .finfo > a {
    color: #CCCCCC;
    font-size: 14px;
    text-decoration: none;    
}
.finfo > a:hover {
    cursor: text;
}
.info {
    padding: 30px 20px;
    padding-left: 30px;
}

@media all and (max-width: 780px) {
        #coupons {
        display: block;
    }
    #coupons img{
        float: none;
        width: 90%;
        height: 70%;
        border-radius: 20%;
        margin: 10% 0%;
    }
    #coupon-content {
        margin: 5% -5%;
        margin-right: 5px;
    }

    footer{
        display: none;
    }
}
.navbar-custom {
    background-color: #292924;
    position: fixed;
    width: 100%;
}
.navbar-brand, .nav-link{
    padding: 10px;
    color: #EEEEEE;
    font-size: 16px;
} 
.navbar-toggler-icon { 
            background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

.nav-link:hover, .nav-item:hover{
    background-color: grey;
    color: #fff;
    border-radius: 5px;
}
.navbar-custom > .navbar-brand:hover {
    color: #fff;
}

@media all and (min-width: 575px) {
    .navbar-custom > .navbar-brand:hover {
        background-color: grey;
        color: #fff;
        border-radius: 5px;   
    }
}
@media all and (max-width: 575px) {
    .nav-item{
        padding-left: 15px;
    }
}
