@import url(https://fonts.googleapis.com/css?family=PT+Sans);

* {
    font-family: "PT Sans", sans-serif;
    margin: 0px;
}
.App {
    background: #F4F4F4;
    height: auto;
}
html {
  scroll-behavior: smooth;
}
